p#head
{
    text-align: center;
}
div#downnav
{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 100px;
}
div#downnav input
{
    width: 60%;
    height: 30%;
    margin: 0px;
    padding: 0px;
    outline: none;
    border-style: solid;
    border-width: 1.5px;
}
div#downnav button
{
    width: 38%;
    height: 35%;
    margin: 0px;
    padding: 0px;
}
textarea#msgout
{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 600px;
    margin-top: 10px;
    visibility:hidden;
}